/*
 *= require store/spree_core
 */

#notification-banner {
	text-shadow:black 0 0 5px;
	height:35px;
	font-size:18px;
	text-align:center;
	line-height:35px;
	color: white;

	background-color: #666666;
	border-bottom: 1px solid #404040;
}

#notification-banner a, #notification-banner a:visited, #notification-banner a:link, #notification-banner a:hover {
	color:white;
	border-bottom:none;
}
